{{ partial "head" . }}

<!-- Header -->
{{ partial "header" . }}

<div class="d-flex flex-justify-center">
  <div class="col-6 px-4">
    <article>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
    </article>
    <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ range where .Site.RegularPages "Section" .Section }}
    <div class="TimelineItem">
      <div class="TimelineItem-badge">
        <i class="fas fa-clock"></i>
      </div>
      <div class="TimelineItem-body">
        <storng>{{ .Params.release_schedule}}</storng>
        <div class="box-shadow-large p-3">
          <h3 class="text-gray-dark"><a href="{{ .Permalink | relURL }}" title="{{ .Title }}"> {{ .Title }}</a></h3>
        </div>
      </div>
    </div>
    {{ end }}
    </ul>
  </div>
</div>

<!-- Footer -->
{{ partial "footer" . }}
