{{ partial "head" . }}

<!-- Header -->
{{ partial "header" . }}

<div class="d-flex flex-justify-center">
  <!-- Podcast SideBar -->
  {{ partial "sidebar/podcast-sidebar" . }}

  <!-- Main Content-->
  <div class="col-6 px-4">
    <!-- Title -->
    <div class="pagehead pb-2">
      <h1>{{ .Title }}</h1>
    </div>
    <!-- Navigation -->
    <div class="pb-2">
      <nav aria-label="Breadcrumb">
        <ol>
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/{{ .Section }}">{{ .Section }}</a></li>
          <li class="breadcrumb-item" aria-current="page"> {{ .Title }}</li>
        </ol>
      </nav>
    </div>
    <!-- Reference List -->
    <div class="py-4">
      <div class="Box Box--condensed">
        <div class="Box-header">
          <h3 class="Box-title">
            Reference
          </h3>
        </div>
        <ul>
          {{ range $ref := .Params.reference }}
          <li class="Box-row">
            {{ $ref }}
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <!-- Content -->
    <div>
      {{ .Content }}
    </div>
  </div>

  <div class="col-2 p-2 ">
    <img width="100%" src="/images/episode-cover/{{ .Params.cover }}" alt="cover-art">
    <div>
      <p>本期嘉宾：</p>
      {{ range $guest:= .Params.guest }}
      <small><p>
      <i class="fas fa-user-alt"></i> {{ $guest.name}} <br> {{ $guest.role }}
      </p></small>
      {{ end}}
    </div>
  </div>
</div>



<!-- Footer -->
{{ partial "footer" . }}
