<nav class="SideNav col-2">
  <img width="100%" src="/images/episode-cover/{{ .Params.cover }}" alt="cover-art">
  <div class="SideNav-item">
    <p class="title is-5">本期嘉宾</p>
    {{ range $guest:= .Params.guest }}
    <small>
      <p>
        <i class="fas fa-user-alt"></i> {{ $guest.name}} <br> {{ $guest.role }}
      </p>
    </small>
    {{ end}}
  </div>
  <div class="SideNav-item">
    <p class="title is-5">收听全部节目</p>
    {{ partial "podcast-distribution" .}}
  </div>
  <div class="SideNav-item">
    <p class="title is-5">赞助我们</p>
    {{ partial "support-banner" .}}
  </div>
</nav>
