<nav class="SideNav col-2">
  <div class="SideNav-item">
    <p class="title is-5">全网收听本期节目</p>
    {{ partial "podcast-links/anchor-embed" .}}
  </div>
  <div class="SideNav-item">
    <p class="title is-5">国内收听本期节目</p>
    {{ partial "podcast-links/netbase-embed" .}}
  </div>
  <div class="SideNav-item">
    <p class="title is-5">收听全部节目</p>
    {{ partial "podcast-distribution" .}}
  </div>
  <div class="SideNav-item">
    <p class="title is-5">赞助我们</p>
    {{ partial "support-banner" .}}
  </div>
</nav>
