{{ partial "head" . }}

<!-- Header -->
{{ partial "header" . }}

<div class="container">
  <div class="columns">
    <div class="column is-one-quarter sidebar">
      <!-- Podcast SideBar -->
      {{ partial "sidebar/index-sidebar" . }}
    </div>
    <div class="column" style="padding:2em">
      <div class="content">
        <!-- Latest Page-->
        {{ range first 1 .Site.RegularPages }}
          <p class="title"><a href="{{.Permalink }}">{{ .Title }}</a></p>
          <p> {{ .Params.summary }}</p>
          <div class="message">
            <div class="message-body">
            <p class="title is-6 is-white">本期文献</p>
            <ul>
            {{ range $ref := .Params.reference }}
                <li>
                  <p class="content is-normal">
                    <span class="icon"><i class="fas fa-copy"></i></span> {{ $ref }}
                  </p>
                </li>
            {{ end }}
            </ul>
            </div>
          </div>

        {{ end }}
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
{{ partial "footer" . }}
