<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}{% if page.title and page.title != "" %} &mdash; {{ page.title }}{% endif %}</title>
    {% if site.description %}<meta name="description" content="{{ site.description }}">{% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {%include google-analytics.html%}
  </head>
  <body>
    <div class="container">
      <nav class="level"  style="margin:2em 2em 2em 2em">
        <div class="level-left">
          <div class="level-item has-text-centered">
            <a href="/" style="text-decoration: none;">
              <p class="title">基智一点 | Mind a Bit</p>
              <p class="heading">created by Y2Intelligences</p>
            </a>
          </div>
        </div>
        <div class="level-right">
          <div class="platform" style="display:flex;">
            <figure class="image is-32x32" style="margin-right:5px;">
              <a href="https://podcasts.apple.com/us/podcast/%E5%9F%BA%E6%99%BA%E4%B8%80%E7%82%B9/id1490374590" style="text-decoration: none">
                <img src="/assets/images/Apple_icon.png" alt="listen on Apple Podcasts">
              </a>
            </figure>
            <figure class="image is-32x32" style="margin-right:5px;">
              <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8xMTE5NTM1MC9wb2RjYXN0L3Jzcw=="  style="text-decoration: none">
                <img src="/assets/images/Google_icon.png" alt="listen on Google Podcasts">
              </a>
            </figure>
            <figure class="image is-32x32" style="margin-right:5px;">
              <a href="https://open.spotify.com/show/4mLqAqnUDZKcbb1znG0GS3"  style="text-decoration: none">
                <img src="/assets/images/Spotify_icon.png" alt="listen on Spotify">
              </a>
            </figure>
            <figure class="image is-32x32" style="margin-right:5px;">
              <a href="https://overcast.fm/itunes1490374590"  style="text-decoration: none">
                <img src="/assets/images/Castbox_icon.png" alt="listen on CastBox">
              </a>
            </figure>
            <figure class="image is-32x32" style="margin-right:5px;">
              <a href="https://castbox.fm/ch/2488407"  style="text-decoration: none">
                <img src="/assets/images/Overcast_icon.png" alt="listen on CastBox">
              </a>
            </figure>
            <figure class="image is-32x32" style="margin-right:5px;">
              <a href="https://pca.st/uiorysaz"  style="text-decoration: none">
                <img src="/assets/images/pocketcast_icon.png" alt="listen on Pocket Cast">
              </a>
            </figure>
            <figure class="image is-32x32" style="margin-right:5px;">
              <a href="https://music.163.com/#/djradio?id=794383554"  style="text-decoration: none">
                <img src="/assets/images/netbase_icon.png" alt="listen on Netbase Music">
              </a>
            </figure>
            <figure class="image is-32x32" style="margin-right:5px;">
              <a href="https://www.ximalaya.com/keji/32102200/"  style="text-decoration: none">
                <img src="/assets/images/ximalaya_icon.png" alt="listen on Ximalaya">
              </a>
            </figure>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      {{ content }}
    </div>

  </body>
</html>
