---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
    {% include menu.html %}
    {% if site.title %}
      <h1>
        {{ site.title }}
      </h1>
    {% endif %}
    {% if site.title %}
      <h2>
        {{ site.description }}
      </h2>
    {% endif %}
  </header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">

   <div class="content-title" style=" margin:0px">
     <a href="https://podcasts.apple.com/us/podcast/%E5%9F%BA%E6%99%BA%E4%B8%80%E7%82%B9/id1490374590" style="text-decoration: none">
       <img class="raw" src="/assets/images/Apple_icon.png" alt="listen on Apple Podcasts" width="50px">
     </a>
     <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8xMTE5NTM1MC9wb2RjYXN0L3Jzcw=="  style="text-decoration: none">
       <img class="raw"  src="/assets/images/Google_icon.png" alt="listen on Google Podcasts" width="50px">
     </a>
     <a href="https://open.spotify.com/show/4mLqAqnUDZKcbb1znG0GS3"  style="text-decoration: none">
       <img class="raw"  src="/assets/images/Spotify_icon.png" alt="listen on Spotify" width="50px">
     </a>
     <a href="https://overcast.fm/itunes1490374590"  style="text-decoration: none">
       <img class="raw"  src="/assets/images/Castbox_icon.png" alt="listen on CastBox"  width="50px">
     </a>
     <a href="https://castbox.fm/ch/2488407"  style="text-decoration: none">
       <img class="raw"  src="/assets/images/Overcast_icon.png" alt="listen on CastBox"  width="50px">
     </a>
     <a href="https://pca.st/uiorysaz"  style="text-decoration: none">
       <img class="raw"  src="/assets/images/pocketcast_icon.png" alt="listen on Pocket Cast" width="50px">
     </a>
     <a href="https://anchor.fm/y2intelligences"  style="text-decoration: none">
       <img class="raw"  src="/assets/images/anchor_icon.png" alt="listen on Pocket Cast" width="50px">
     </a>
   </div>

   <div class="content-title" style=" margin:0px">
     大陆墙内
     <a href="https://music.163.com/#/djradio?id=794383554"  style="text-decoration: none">
       <img class="raw"  src="/assets/images/netbase_icon.png" alt="listen on Netbase Music" width="50px">
     </a>
     <a href="https://www.ximalaya.com/keji/32102200/"  style="text-decoration: none">
       <img class="raw"  src="/assets/images/ximalaya_icon.png" alt="listen on Ximalaya" width="50px">
     </a>
   </div>

  <h1 class="content-title divided">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
      Page {{ paginator.page }}
    {% else %}
      往期节目一览
    {% endif %}
  </h1>

  {% if site.paginate and site.paginate_path %}

    <ul class="post-list">
      {% for post in paginator.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}

      <div class="post-pagination">
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl  }}" class="pagination-next btn">&lang;&nbsp;Older</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
        <span class="pagination-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-previous btn">Newer&nbsp;&rang;</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
      </div>

    {% endif %}

  {% else %}

    <ul class="post-list">
      {% for post in site.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>

  {% endif %}


</main>
