---
layout: default_new
---
<div class="columns">
  <!-- Side Bar-->
  <div class="column is-one-quarter">
    <figure class="image">
      <img src="/assets/images/final-cover-1000.png">
    </figure>
    <hr>
    <p>
      基智一点是一款讨论智力基本原理的半月更播客。在每一期节目中，两位主播会与来自神经科学、心理学、计算机科学或哲学等领域的嘉宾共同探讨一个与智能相关的主题。我们扎根于原始文献，致力于成为中文语境下最好的关于脑、心智和机器智能的播客节目。
    </p>
    <hr>
    <p class="title is-5">收听节目</p>
       <div class="platform" style="display:flex;">
         <figure class="image is-32x32" style="margin-right:5px;">
           <a href="https://podcasts.apple.com/us/podcast/%E5%9F%BA%E6%99%BA%E4%B8%80%E7%82%B9/id1490374590" style="text-decoration: none">
             <img src="/assets/images/Apple_icon.png" alt="listen on Apple Podcasts">
           </a>
         </figure>
         <figure class="image is-32x32" style="margin-right:5px;">
           <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8xMTE5NTM1MC9wb2RjYXN0L3Jzcw=="  style="text-decoration: none">
             <img src="/assets/images/Google_icon.png" alt="listen on Google Podcasts">
           </a>
         </figure>
         <figure class="image is-32x32" style="margin-right:5px;">
           <a href="https://open.spotify.com/show/4mLqAqnUDZKcbb1znG0GS3"  style="text-decoration: none">
             <img src="/assets/images/Spotify_icon.png" alt="listen on Spotify">
           </a>
         </figure>
         <figure class="image is-32x32" style="margin-right:5px;">
           <a href="https://overcast.fm/itunes1490374590"  style="text-decoration: none">
             <img src="/assets/images/Castbox_icon.png" alt="listen on CastBox">
           </a>
         </figure>
         <figure class="image is-32x32" style="margin-right:5px;">
           <a href="https://castbox.fm/ch/2488407"  style="text-decoration: none">
             <img src="/assets/images/Overcast_icon.png" alt="listen on CastBox">
           </a>
         </figure>
         <figure class="image is-32x32" style="margin-right:5px;">
           <a href="https://pca.st/uiorysaz"  style="text-decoration: none">
             <img src="/assets/images/pocketcast_icon.png" alt="listen on Pocket Cast">
           </a>
         </figure>
         <figure class="image is-32x32" style="margin-right:5px;">
           <a href="https://music.163.com/#/djradio?id=794383554"  style="text-decoration: none">
             <img src="/assets/images/netbase_icon.png" alt="listen on Netbase Music">
           </a>
         </figure>
         <figure class="image is-32x32" style="margin-right:5px;">
           <a href="https://www.ximalaya.com/keji/32102200/"  style="text-decoration: none">
             <img src="/assets/images/ximalaya_icon.png" alt="listen on Ximalaya">
           </a>
         </figure>
       </div>

    <hr>
    <p class="title is-5">赞助我们</p>
    <a href="https://www.patreon.com/bePatron?u=33934138">
      <img src="/assets/images/patreon.png" alt="Support on Patreon">
    </a>
    <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
    <a href="https://afdian.net/@jzyd-cn">
      <img src="/assets/images/aifadian.png" alt="Support on Aifadian">
    </a>
    <hr>
    <p class="title is-5">相关推荐</p>
    <p>
      我们在制作播客的同时也会听很多播客。经过我们的筛选，我们推荐以下这些相关的播客节目。他们以不同的形式介绍和传播了神经科学、认知科学、人工智能领域内不同的知识和信息，希望大家也会喜欢。我们也欢迎大家发送邮件给我们，推荐其他的优秀的播客节目，我们也会在此更新。
    </p>
    <div class="menu">
      <ul class="menu-list">
        <li>
          <a href="https://partiallyexaminedlife.com/">
            <span class="icon"><i class="fas fa-arrow-alt-circle-right"></i></span>
            Partially Examined Life</a></li>
        <li><a href="https://lexfridman.com/ai/">
          <span class="icon"><i class="fas fa-arrow-alt-circle-right"></i></span>
          Artificial Intelligence Podcast by Lex Fridman</a></li>
        <li><a href="https://braininspired.co/">
          <span class="icon"><i class="fas fa-arrow-alt-circle-right"></i></span>
          Brain Inspired</a></li>
        <li><a href="http://unsupervisedthinkingpodcast.blogspot.com/">
          <span class="icon"><i class="fas fa-arrow-alt-circle-right"></i></span>
          Unsupervised Thinking</a></li>
        <li><a href="https://brainpodcast.com/">
          <span class="icon"><i class="fas fa-arrow-alt-circle-right"></i></span>
          Brain Matter</a></li>
        <li><a href="https://neuromancing.fireside.fm/">
          <span class="icon"><i class="fas fa-arrow-alt-circle-right"></i></span>
          神经漫游</a></li>
        <li><a href="https://www.ximalaya.com/yule/30318983/">
          <span class="icon"><i class="fas fa-arrow-alt-circle-right"></i></span>
          锵锵脑科学</a></li>
      </ul>
    </div>
  </div>
  <!-- Main Context -->
  <div class="column">
    <div class="new-episode">
      <p class="title">最新一期</p>
      <div class="columns">
        <div class="column">
          <p class="title is-5"><a href="{{site.posts[0].url}}">{{ site.posts[0].title }}</a></p>
          <div class="content">
          {{ site.posts[0].content }}
          </div>
        </div>

        <div class="column is-one-third">
        {% if  site.posts[0].cover-art %}
        <figure class="image"
                style="width:100%;">
          <img src={{ site.posts[0].cover-art }} alt="cover-art">
        </figure>
        {% endif %}
        </div>
      </div>
      <div>
        {% if site.posts[0].reference %}
        <div class="message">
          <div class="message-body">
          <p class="title is-6 is-white">本期文献</p>
          <ul>
          {% for r in site.posts[0].reference %}
              <li><p class="content is-normal"><span class="icon"><i class="fas fa-copy"></i></span> {{ r }}</p></li>
          {% endfor %}
          </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="history">
    </div>
    <hr>
    <p class="title is-4">节目列表</p>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>发布日期</th>
          <th>标题</th>
          <th>类别</th>
          <th>国内收听</th>
          <th>全球收听</th>
        </tr>
      </thead>
      <tbody>
        {% for post in site.posts %}
        {% if post.category == "episode" %}
        <tr>
          <td>{{ post.date | date: "%Y-%m-%d" }}</td>
          <td>
            <a href={{ post.url }}>{{ post.title }}</a></td>
          <td>
            {% for d in post.discipline %}
            <span class="tag is-link">{{ d }}</span>
            {% endfor %}
          </td>
          <td>
            <div style="display:flex;">
                {% if post.netbase %}
                <figure class="image is-32x32" style="margin-right:5px;">
                  <a href={{post.netbase}}> <img src="/assets/images/netbase_icon.png" alt="listen on Netbase Music"> </a>
                </figure>
                {% endif %}

                {% if post.ximalaya %}
                <figure class="image is-32x32" style="margin-right:5px;">
                  <a href={{post.ximalaya}}> <img src="/assets/images/ximalaya_icon.png" alt="listen on Ximalaya"></a>
                </figure>
                {% endif %}
            </div>
          </td>
          <td>
            <div style="display:flex;">
              {% if post.apple %}
              <figure class="image is-32x32" style="margin-right:5px;">
                <a href={{post.apple}}> <img src="/assets/images/Apple_icon.png" alt="listen on Apple Podcasts"> </a>
              </figure>
              {% endif %}

              {% if post.spotify %}
              <figure class="image is-32x32" style="margin-right:5px;">
                <a href={{post.spotify}}> <img src="/assets/images/Spotify_icon.png" alt="listen on Spotify"> </a>
              </figure>
              {% endif %}

              {% if post.castbox %}
              <figure class="image is-32x32" style="margin-right:5px;">
                <a href={{post.castbox}}> <img src="/assets/images/Castbox_icon.png" alt="listen on CastBox"> </a>
              </figure>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
