---
layout: default
---

{% if site.data.menu %}
  {% include menu.html %}
{% else %}
  {% include back-link.html %}
{% endif %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">

  {% if page.title != "" %}
    <h1 class="post-title divided p-name" itemprop="name headline">
      {{ page.title }}
    </h1>
  {% endif %}

  <div class="podcast-schedule">
    <p>更新安排: {{ page.release-schedule }}</p>
  </div>

  {% if page.spotify != "" %}
  <div class="with-badge">
     <span class="notify-badge">广域通用</span>
     <iframe src={{page.spotify}} width="100%" height="180" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

  </div>
  {% endif %}

  {% if page.netbase != "" %}
  <div class="with-badge">
    <iframe frameborder="0" width="100%" src={{page.netbase}}></iframe>
    <span class="notify-badge">墙内专用</span>
  </div>
  {% endif %}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-meta">
    {% if page.author %}
      <div itemprop="author">{{ page.author }}</div>
    {% endif %}
    <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
  </div>

  {% if site.disqus.shortname %}
    {% include disqus-comments.html %}
  {% endif %}

</article>
